body {
    background-image: url('single.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
} 

#loading {
	position: absolute;
	left: 45%;
	top: 40%;
}

#icon {
	position: absolute;
	bottom: 0;
	right: 1em;
	height: 120px;
}

p {
	height: 1.3em;
	display: none;
}
#theNumbers {
	margin-top:5px;
	margin-left: 80px;
	text-align: center;
}