# Generate Java / Eclipse generated stuff
.metadata
*.swp
*.log
cnf/db
cnf/cache
cnf/felix
cnf/release
bin
bin_test
generated
cobertura.ser
instrumented
*playground
RemoteSystemsTempFiles

# GWT generated stuff
.gwt
gwt-unitCache
deploy
*.cache.html
*.cache.gif
*.gwt.rpc
*.nocache.js
hosted.html
