#loading {
	position: absolute;
	left: 45%;
	top: 40%;
}

#icon {
	position: absolute;
	bottom: 0;
	right: 1em;
}

#weather {
	position: absolute;
	bottom: 0;
	left: 1em;
}

#button {
	display: none;
	margin-top: 2em;
}

p {
	height: 1.2em;
	display: none;
}
