#loading {
	position: absolute;
	left: 45%;
	top: 40%;
}

#icon {
	position: absolute;
	bottom: 30px;
	right: 4em;
	height: 120px;
	z-index: -10;
}

p {
	height: 1.2em;
	line-height: 16px;
	display: none;
	z-index: 5;
	left: 100px;
	top: 125px;
	position: absolute;
}

#powervalue {
	border:2px solid #000;
}

/** Tooltip CSS **/
.i {
	width: 25px;
	height: 25px;
	float:right;
}

.tooltip {
    text-decoration: none;
	outline:none; 
} 

a.tooltip strong {
	line-height:30px;
	}
a.tooltip:hover {
	text-decoration:none;
	}
a.tooltip span {
	z-index:10;
	display:none;
	line-height:16px;
	padding:4px 2px;
	}
a.tooltip:hover span{
	display:inline;
	position:absolute;
	color:#111;
	border:1px solid #DCA;
	background:#ffffff;
	}
.callout {
	z-index:20;
	position:absolute;
	border:0;
	left:-12px;
	}

/*CSS3 extras*/ 
a.tooltip span { border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 5px 5px 8px #CCC; -webkit-box-shadow: 5px 5px 8px #CCC; box-shadow: 5px 5px 8px #CCC; }

a.righttooltip span {
	margin-left:12px;
	}
a.lefttooltip span {
	margin-right:37px;
	}