#loading {
	position: absolute;
	left: 45%;
	top: 40%;
}

#icon {
	position: absolute;
	bottom: 0;
	right: 1em;
	height: 120px;
}

p {
	height: 2.2em;
	display: none;
	font-family: "TeslaNikolaCaps";
}

body {
	background-image: url("tesla.jpg");
}

#powerwall{
	margin-top:15px;
	text-align: left;
	font-size: small;
}
@font-face {
    font-family:"TeslaNikolaCaps";
    src: url("TeslaNikolaCaps.ttf") /* TTF file for CSS3 browsers */
}

#chargeMode {
	text-align: right;
	font-size: medium;
}